<!DOCTYPE html>
<html>
  <head>
    <title>Formulario enviado</title>
    <style>
        body{
            font-family: 'Courier New', Courier, monospace;
            text-align: center;
            color: rgb(0, 0, 0);
        }
    </style>
  </head>
  <body>
    <h1>Formulario enviado</h1>
    <p>Gracias por completar el formulario. Recibimos los siguientes datos de contacto:</p>
    <ul>
      <li>Nombre: {{ name }}</li>
      <li>Email: {{ email }}</li>
      <li>Ciudad: {{ city }}</li>
    </ul>
  </body>
</html>